---
version: "2.1"
services:
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - TRANSMISSION_WEB_HOME=/combustion-release/ #optional
      - WHITELIST=192.168.88.* #optional
    volumes:
      - /opt/transmission/config:/config
      - /usr/local/transmission/downloads:/downloads
      - /usr/local/transmission/watch:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
